# URL de conexión a tu PostgreSQL local
# Estructura: postgresql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_BD?schema=public
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/techstore_db?schema=public

# Puerto en el que correrá la API de Express
PORT=3000
